.text-center
  %h3 Política de Privacidade

%br

.font-privacy
  Esta página informa sobre nossas políticas relativas à coleta, uso e divulgação de informações pessoais que recebemos dos usuários. Usamos suas informações para entender melhor o uso do site e para estatísticas de tráfego.
  %br
  %br
  Ao utilizar o site, você concorda com a coleta e uso de informações de acordo com esta política.

%br

%h4
  %b Privacidade dos tweets

.font-privacy
  Coletamos apenas tweets públicos para análise de dados e aprendizado de máquina.

%br

%h4
  %b  Google Analytics

.font-privacy
  Usamos um plug-in de JavaScript de terceiros fornecido pelo Google chamado "Google Analytics" para coletar estatísticas úteis de tráfego e entender melhor como você usa nosso site. Não temos acesso direto às informações obtidas do Google Analytics, mas o Google nos fornece um resumo por meio de seu painel.
  %br
  %br
  Você pode desativar a coleta de informações pelo Google Analytics fazendo o
  = link_to "download da extessão fornecido pelo Google para o seu navegador Chrome.", "https://tools.google.com/dlpage/gaoptout", target: :blank
  Isso impedirá que suas informações sejam usadas pelo Google Analytics. Fazer isso não afetará sua capacidade de usar nosso Site de qualquer maneira.

%br

%h4
  %b Cookies

.font-privacy
  Cookies são arquivos com pequena quantidade de dados, que podem incluir um identificador exclusivo anônimo. Os cookies são enviados para o seu navegador a partir de um site e armazenados no disco rígido do seu computador. Você pode instruir o seu navegador para recusar todos os cookies ou para indicar quando um cookie está sendo enviado. No entanto, se você não aceitar cookies, talvez não consiga usar algumas partes do nosso site.
  %br
  %br
  Google Analytics utiliza cookies para avaliar e entender melhor as interações do usuário em nosso site. Você pode ler mais sobre
  = link_to "como o Google Analytics usa cookies.", "https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage", target: :blank

%br

%h4
  %b Log Data

.font-privacy
  Como muitos outros sites, coletamos informações que seu navegador envia sempre que você visita nosso site ("Log Data"). Estes Dados de Log podem incluir informações como o endereço IP do seu computador (com último byte substituído), o tipo de navegador, a versão do navegador, as páginas do nosso site que você visita, a hora e a data de sua visita, o horário gasto nessas páginas e outras estatísticas.

%br
%h4
  %b= link_to "Entrar em contato?", new_contact_path
