.row
  .col-xs-12.col-sm-5
    #chart_xs.hidden-sm.hidden-md.hidden-lg
    = render partial: 'hashtags', locals: { hashtags: @hashtags }

= render partial: 'charts/pie', locals: { options: @chart_options }
