.row
  .col-xs-12.col-sm-5
    = render partial: 'tweets/filter', locals: { path: token_links_path(params[:token_id]) }
    #chart_xs.hidden-sm.hidden-md.hidden-lg
    = render partial: 'links', locals: { links: @links }

= render partial: 'charts/pie', locals: { options: @chart_options }
