.row
  .col-xs-12.col-sm-5
    = render partial: 'tweets/filter', locals: { path: token_links_path(params[:token_id]) }
    #chart_xs.hidden-sm.hidden-md.hidden-lg
    = render partial: 'links', locals: { links: @links }

  .col-sm-7.hidden-xs
    = render partial: 'tokens/tweets/accuracy', locals: { token: @token, amount: @links.count, model_name: Link.model_name.human }
    #chart

= render partial: 'charts/pie', locals: { options: @chart_options }
