.row
  .col-xs-12.col-sm-8
    = render partial: 'tweets/filter', locals: { path: token_locations_path(params[:token_id]) }
    #chart{ style: 'width: 90%; height: 400px;' }
  .col-sm-4.hidden-xs
    = render partial: 'locations', locals: { locations: @locations }

= render partial: 'charts/google_maps', locals: { options: @chart_options }
