= form_for Token.new, as: :sample, url: sample_index_path, remote: true do |f|
  .input-group.cm-search-input.input-append
    = f.text_field :word, class: 'form-control', placeholder: t('landing.title'), required: true
    %span.input-group-addon
      %button{ type: 'submit' }
        %span.glyphicon.glyphicon-search
