.row
  .col-xs-12.col-sm-5
    = render partial: 'tweets/filter', locals: { path: token_mentions_path(params[:token_id]) }
    #chart_xs.hidden-sm.hidden-md.hidden-lg
    = render partial: 'mentions', locals: { mentions: @mentions }
  .col-sm-7.hidden-xs
    = render partial: 'tokens/tweets/accuracy', locals: { token: @token, amount: @mentions.count, model_name: Mention.model_name.human }
    #chart

= render partial: 'charts/pie', locals: { options: @chart_options }
