.row
  .col-xs-12.col-sm-5
    = render partial: 'filter'

.row
  .col-xs-12.col-sm-5
    #user_chart_xs.hidden-sm.hidden-md.hidden-lg
    #svm_chart_xs.hidden-sm.hidden-md.hidden-lg
    = render partial: 'tweets', locals: { tweets: @tweets }
  .col-xs-12.col-sm-7
    #user_chart.hidden-xs
    #svm_chart.hidden-xs
    = render partial: 'all_charts'

.row
  .col-xs-12
    .text-center
      .digg_pagination
        = will_paginate @tweets
