@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');

a:hover , a:focus{
    text-decoration:none;
}

section{
    margin: 50px 0px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align:center;
    padding: 5px 0px;
}

.border-btn .btn-positive{
    text-transform: uppercase;
    color: #80d297;
    border: 2px solid #80d297;
    font-size: 13px;
    border-radius: 50%;
    padding: 60px 45px;
}

.border-btn .btn-positive:hover{
    text-transform: uppercase;
    color: #FFF;
    border:2px solid #80d297;
    font-size: 13px;
    background:#80d297;
    padding: 60px  25px;
    border-radius: 50%;
    padding: 60px  45px;
}

.effect-btn .btn-positive{
    text-transform: uppercase;
    font-size: 13px;
    padding:20px 45px;
    border:2px solid #80d297;
    color: #80d297;
    box-shadow: rgba(137, 196, 244,0.4) 0 0px 0px 2px inset;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -moz-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -ms-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -o-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
}

.effect-btn .btn-positive:hover{
    text-transform: uppercase;
    font-size: 13px;
    color:#FFF;
    box-shadow: rgba(137, 196, 244,0.7) 170px 0px 0px 2px inset;
}

.border-btn .btn-positive-xs{
    text-transform: uppercase;
    color: #80d297;
    border: 2px solid #80d297;
    font-size: 13px;
    padding: 15px 40px;
    border-radius:50px;
    margin: 10px;
}

.border-btn .btn-positive-xs:hover{
    text-transform: uppercase;
    color: #FFF;
    border: 2px solid #80d297;
    font-size: 13px;
    background: #80d297;
    padding: 15px 40px;
    border-radius: 50px;
}

.effect-btn .btn-positive-xs{
    text-transform: uppercase;
    font-size: 13px;
    padding: 20px 45px;
    border: 2px solid #80d297;
    color: #80d297;
    box-shadow: rgba(0,230,64,0.4) 0 0px 0px 2px inset;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -moz-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -ms-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -o-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
}

.effect-btn .btn-positive-xs:hover{
    text-transform: uppercase;
    font-size: 13px;
    color:#FFF;
    box-shadow: rgba(0,230,64,0.7) 0 0px 120px 2px inset;
}

.border-btn .btn-negative{
    text-transform: uppercase;
    color: #ec8686;
    border:2px solid #ec8686;
    font-size: 13px;
    padding:25px 40px;
    border-radius: 50%;
    padding: 60px 35px;
}

.border-btn .btn-negative:hover{
    text-transform: uppercase;
    color: #FFF;
    border:2px solid #ec8686;
    font-size: 13px;
    background:#ec8686;
    border-radius: 50%;
    padding: 60px 35px;
}

.effect-btn .btn-negative{
    text-transform: uppercase;
    font-size: 13px;
    padding:20px 45px;
    border:2px solid #F9690E;
    color: #F9690E;
    box-shadow: rgba(249, 105, 14,0.4) 0 0px 0px 2px inset;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -moz-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -ms-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -o-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
}

.effect-btn .btn-negative:hover{
    text-transform: uppercase;
    font-size: 13px;
    color:#FFF;
    box-shadow: rgba(249, 105, 14,0.7) 0 55px 0px 2px inset;
}

.border-btn .btn-negative-xs{
    text-transform: uppercase;
    color: #ec8686;
    border: 2px solid #ec8686;
    font-size: 13px;
    padding: 15px 40px;
    border-radius:50px;
    margin: 10px;
}

.border-btn .btn-negative-xs:hover{
    text-transform: uppercase;
    color: #FFF;
    border: 2px solid #ec8686;
    font-size: 13px;
    background: #ec8686;
    padding: 15px 40px;
    border-radius: 50px;
}

.effect-btn .btn-negative-xs{
    text-transform: uppercase;
    font-size: 13px;
    padding: 20px 45px;
    border: 2px solid #ec8686;
    color: #ec8686;
    box-shadow: rgba(0,230,64,0.4) 0 0px 0px 2px inset;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -moz-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -ms-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -o-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
}

.effect-btn .btn-negative-xs:hover{
    text-transform: uppercase;
    font-size: 13px;
    color:#FFF;
    box-shadow: rgba(0,230,64,0.7) 0 0px 120px 2px inset;
}

.border-btn .btn-neutral{
    text-transform: uppercase;
    color: #5e6f63;
    border: 2px solid #5e6f63;
    font-size: 13px;
    padding: 25px 40px;
    border-radius:50px;
    margin: 10px;
}

.border-btn .btn-neutral:hover{
    text-transform: uppercase;
    color: #FFF;
    border:2px solid #5e6f63;
    font-size: 13px;
    background:#5e6f63;
    padding:25px 40px;
    border-radius:50px;
}

.effect-btn .btn-neutral{
    text-transform: uppercase;
    font-size: 13px;
    padding:20px 45px;
    border:2px solid #5e6f63;
    color: #5e6f63;
    box-shadow: rgba(0,230,64,0.4) 0 0px 0px 2px inset;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -moz-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -ms-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -o-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
}

.effect-btn .btn-neutral:hover{
    text-transform: uppercase;
    font-size: 13px;
    color:#FFF;
    box-shadow: rgba(0,230,64,0.7) 0 0px 120px 2px inset;
}

.border-btn .btn-example{
    text-transform: uppercase;
    color: #5e6f63;
    border: 2px solid #5e6f63;
    font-size: 13px;
    padding: 25px 40px;
    border-radius:50px;
    margin: 10px;
}

.border-btn .btn-example:hover{
    text-transform: uppercase;
    color: #FFF;
    border:2px solid #5e6f63;
    font-size: 13px;
    background:#5e6f63;
    padding:25px 40px;
    border-radius:50px;
}

.effect-btn .btn-example{
    text-transform: uppercase;
    font-size: 13px;
    padding:20px 45px;
    border:2px solid #5e6f63;
    color: #5e6f63;
    box-shadow: rgba(0,230,64,0.4) 0 0px 0px 2px inset;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -moz-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -ms-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    -o-transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
    transition: all 300ms cubic-bezier(0.4, 0.500, 0.5, 1.5);
}

.effect-btn .btn-example:hover{
    text-transform: uppercase;
    font-size: 13px;
    color:#FFF;
    box-shadow: rgba(0,230,64,0.7) 0 0px 120px 2px inset;
}

.center-wrapper {
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}
