a:hover , a:focus{
    text-decoration: none;
}

.positive-color {
    background: #80d297;
}

.neutral-color {
    background: #99a59d;
}

.negative-color {
    background: #ec8686;
}

.answer-btn {
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding: 10px 10px;
    border-radius: 50px;
}