@media (max-width: 623px) {
  .xs-padding {
    padding: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 623px) {
  .xs-panel {
    padding: 5px !important;
    margin-top: -10px;
    margin-bottom: -10px;
  }
}

@media (max-width: 623px) {
  .twitter-tweet {
    margin-top: 100px;
    margin-bottom: 60px;
  }
}

@media (max-width: 623px) {
  .navbar-brand {
    font-size: 15px;
    margin-right: -15px;
  }
}
