.item-tweets {
    border-left: thick solid #336699;
}

.item-mining {
    border-left: thick solid #fbbc05;
}

.item-discover {
    border-left: thick solid #021427;
}

.item-tokens {
    border-left: thick solid #ea4335;
}

.sidebar-active {
  background-color: #eee;
}

.sidebar-primary {
  font-size: 13px;
  background-color: #f5f5f5;
  width: 190px;
}

.fixed-sidebar {
  position: fixed;
}
