.text-center
  = image_tag 'favicon_2.ico', height: 38, style: 'margin: 12px; margin-bottom: 29px;'
  .glyphicon.glyphicon-heart-empty
  = image_tag 'coon_xs.png', style: ' margin: 5px; margin-bottom: 20px;'
