#classify
  %div{ id: "tweet_#{tweet.uuid}" }
    = render partial: 'classify', locals: { tweet: tweet, token: token }

#success.text-center.hidden
  %h1
    %br
    %br
    Obrigado por sua coloboração!
    %br
    %br
    .small
      = link_to '> classificar outro <', token_mining_index_path(token.uuid)
