.col-xs-12.landing_color.footer
  %ul.list-inline.footer-content
    %li= link_to 'Política de Privacidade', privacy_index_path
    %li.footer-menu-divider &sdot;
    %li= link_to 'Contato', new_contact_path
