%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to t("title"), root_path, class: "navbar-brand"
      - if @token.present? && @token.valid?
        .navbar-brand
          |
        .navbar-brand= link_to @token.word, token_mining_index_path(@token.uuid)
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        = render partial: 'layouts/navbar/settings'
